*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* universal end ...........................*/
.container{
    width: 90%;
    margin: auto;
}
.main  {
    width: 100%;
    height: 100vh;
    background-image:url('img/MicrosoftTeams-image (3).png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
	color:#fff;
}
.logo span{
	color:#e6cb79;
}
.menu li a:hover{
	color:#e6cb79;
}

.menu li .active{
	color:#e6cb79;
}
button:hover{
	background-color:#e6cb79;
	transition:0.5s;
}
button{
	padding:10px 30px ;
	background-color:#000;
	color:#fff;
	border:solid 2px #e6cb79;
	border-radius:5px;
}
.menu i{
  font-size: 14px;
  padding-right: 10px;
  text-align: center;
}
.menu{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align: center !important;
    font-weight: 600;
   display: flex;
}

.menu a{ 
    padding-right:30px;
    padding-bottom: 8px;
    color: #fff;
    position: relative;
}